mixin btn(data)
  if data.btn_link
    a.btn(class=addClass('btn', data.mods, data.add_Class), onclick=data.js href=data.btn_link, data-js=data.btn_data)
     if data.icon
      +icon({
        icon: data.icon,
        mods: ['btn']
      })
     =data.text
  else 
    button.btn(class=addClass('btn', data.mods, data.add_Class), onclick=data.js type=data.type_btn, data-js=data.btn_data)!= data.text
