mixin card(data)
  .card(class=addClass('card', data.mods, data.addClass))
    each item in data.items
      .card__item(class=item.add_Class)
        .card__img(style="background-image: url("+item.img+")")
          a.card__link(href=item.link)
        .card__info
          .card__title!=item.title
          if item.text
            .card__text!=item.text
          if item.orders
            each order in item.orders
              .card__order!=order.text
          +btn({
            btn_link: item.btn_link,
            text: item.btn_text,
            add_Class: 'card__btn',
            js: item.js,
            btn_data: 'consultate'
          })