mixin slider(data)
  .slider(class=addClass('slider', data.mods, data.addClass), data-js='slider')
    if data.items
      each item in data.items
        .slider__item.slider__item_image(style="background-image: url("+item.img+")")
          if item.link
            a.slider__link(href=item.img, data-fancybox="gallery")
          if item.title
            .slider__title!=item.title
          +btn({
            btn_link: item.btn_link,
            text: 'Хочу также',
            btn_data: item.btn_data,
            js: item.js,
            add_Class: 'slider__have'
          })

    if data.reviews
      each review in data.reviews
        .slider__item.slider__item_review
          if review.pluses
            .slider__rating
              each plus in review.pluses
                .slider__plus!=plus.text

          if review.minuses
            .slider__rating
              each minus in review.minuses
                .slider__minus!=minus.text
          if review.text
            .slider__rating!=review.text

          if review.audio
            .slider__media
              .slider__media-desc Аудиозапись этого звонка 
                span.min
                | мин 
                span.sec
                | сек
              audio.audio(controls, controlsList="nodownload", preload="metadata")
                source(src=review.audio, type='audio/mp3')

          if review.video
            .slider__media
              .slider__media-desc Видеозапись отзыва
              +btn({
                add_Class: 'slider__btn',
                btn_link: review.video,
                btn_data: 'fancybox',
                text: 'Смотреть',
                mods: review.btn_mods
              })
    
    if data.personals
      each personal in data.personals
        .slider__item.slider__item_personal
          .slider__photo(style=`background-image:url(${personal.photo})`)
          .slider__name=personal.name
          .slider__position=personal.position
